extends layout

block content
  .pure-g
    .pure-u-1      
      h2 There was an error procesing your request
      h3
        if(type == 'isactive')
          span There is an 
            strong CURRENTLY ACTIVE CHECK
          |  in that domain, please try again later
        else
          span There was an 
          strong HTTP Error Code 
          =code
          em  ,we could not process your request
  