extends neolayout

block content    
    .main
      .title.mainTitle
        .mainTitleIntro Automated, comprehensive website check
        | One-stop awesome
      .mainTryNowAndSignUp
        .mainTryNow
          form.tryForm(action="/check",method="post")
            input(type="text",name="url",placeholder="www.yourdomain.com")
            input(type="submit",value="Check")
          .tryNowInstructions Quick check your website
        | or
        .mainSignUp
          .signUpFeatures
            form(method="get",action="/register")
              button(onclick="this.form.submit();")  Sign Up
            p
              strong  Increased page limit and more!
              br
              em  JS Errors
              | ,
              em  Console Output
              | , 
              em  History
              | and
              a(href="#") Much more...
    .mainFeatures
      .title.mainFeaturesTitle  Give your website some healthy
        brandname
          strong  froots
      .mainFeaturesList
        li
          entypo  &#10003;
          h3 Validate            
          .description
            | Quickly identify all execution and stander compliance errors. <brandname><strong>froot</strong>box</brandname> combines the most powerful open tools in a single place, identifying the key issues.
        li
          entypo  &#59249;
          h3  Performance              
          .description
            | Wondering why your homepage is becoming more and more $%&# slow?. <brandname><strong>froot</strong>box</brandname> will quickly help idently bottlenecks.
        li
          entypo  &#59190;
          h3  Portability              
          .description
            | Code, click, preview. All platforms, all resolutions, all devices. <brandname><strong>froot</strong>box</brandname> runs your website in every know device to show you in one place how your masterpiece looks.
        li
          .mainFeaturesVisual
            if (user)              
              h3 Last private checks
              ul.public-list
               - each check in checks
                li
                  | <a href="/check/#{check._id ? check._id : ''}"><img src="http://g.etfv.co/http://#{check._domain[0].hostname ? check._domain[0].hostname : ''}" alt="Favicon" width="16" height="16" />#{check._domain[0].hostname ? check._domain[0].hostname : ''}</a>
            else              
              h3 Last healthy checks
              ul.public-list
               - each check in checks
                li
                  | <a href="/check/#{check._id ? check._id : ''}"><img src="http://g.etfv.co/http://#{check._domain[0].hostname ? check._domain[0].hostname : ''}" alt="Favicon" width="16" height="16" />#{check._domain[0].hostname ? check._domain[0].hostname : ''}</a>
    .mainRoles
      .title.mainRolesTitle
        brandname
          |  <strong>froot</strong>box
        | : your life easier
      .mainRolesList       
        li
          entypo  &#9998;
          h3 Developers              
          .description.list
            | <em>Shows you were to <br /><strong>improve your site</strong></em>
            ol
              li  Identify erros and Quick Wins
              li  Identify slow resources
              li  Save testing time         
        li
          entypo  &#59290;
          h3  Managers
          .description.list
            | <em>Where prioritize <br /><strong>your team's time</strong></em>
            ol
              li  Balance performance v/s Quick Wins
              li  Prioritize testing on relevant platforms
              li  One tool to unify results and previews.
        li
          entypo  &#128100;
          h3 Clients 
          .description.list
            | <em>Increase transparency and <br /> accountability</em>
            ol
              li  Validate your web products
              li  Compare developers and results
              li  Get what you are paying for!  