extends neolayout

block content
  .pure-g
    .pure-u-1      
      h2 Check a full website like never before
      form.pure-form(action="/check",method="post")
        fieldset.pure-group
          label LaunCheck this url
          input.pure-input-rounded.pure-input-1(type="text",name="url",placeholder="http://www.mydomain.com")
        input.pure-button.pure-input-1.pure-button-primary(type="submit",value="Check")
      if (user)
        p You are currently logged in as #{user.username}
        h3 This are your last private checks
        ul.public-list
         - each check in checks
          li
            | <a href="/check/#{check._id ? check._id : ''}"><img src="http://g.etfv.co/http://#{check._domain[0].hostname ? check._domain[0].hostname : ''}" alt="Favicon" width="16" height="16" />#{check._domain[0].hostname ? check._domain[0].hostname : ''}#{check._domain[0].path ? check._domain[0].path : ''}</a>
      else
        h3 Check the latest public LaunChecks
        ul.public-list
         - each check in checks
          li
            | <a href="/check/#{check._id ? check._id : ''}"><img src="http://g.etfv.co/http://#{check._domain[0].hostname ? check._domain[0].hostname : ''}" alt="Favicon" width="16" height="16" />#{check._domain[0].hostname ? check._domain[0].hostname : ''}#{check._domain[0].path ? check._domain[0].path : ''}</a>