doctype html
html.no-js
  head
    title FrootBox
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="description",content="")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.3.0/pure-min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700')
    link(rel='stylesheet', href='/js/nvd3/src/nv.d3.css')
    link(rel='stylesheet', href='/css/custom.css')
    script.
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-46694476-1', 'launcheck.com');
     ga('send', 'pageview');
  body
    .pure-g
      .pure-u-1
        .pure-menu.pure-menu-open.pure-menu-horizontal
          a.pure-menu-heading(href="/")
            | <strong>Froot</strong>Box
          ul
            li
              a(href="/") Home
            if (typeof(user) == 'undefined')
                li
                  a(href="/register") Register
                li
                  a(href="/login") Log In
              else
                li
                  a(href="/logout") Log Out
    .container
      block content
    block scripts
      script(src='/js/jquery.min.js')
      script(src='/js/nvd3/lib/d3.v3.js')
      script(src='/js/nvd3/nv.d3.js')
      script(src='/js/nvd3/src/tooltip.js')
      script(src='/js/nvd3/src/models/legend.js')
      script(src='/js/nvd3/src/models/axis.js')
      script(src='/js/nvd3/src/models/multiBar.js')
      script(src='/js/nvd3/src/utils.js')
      script(src='/js/nvd3/src/utils.js')
      script(src='/js/handlebars-v1.1.2.js')
      script(src='/js/single.js')
