extends neolayout

block content
  
  form#signin(action="/login",method="post")
    h2 Log In
    div
      label Email
      input(type="text",name="username")
    
    div
      label Password
      input(type="password",name="password")
    
    div
      input(type="submit",value="Log In")

  div
    ul
      li
        a(href="/auth/google") Login with Google
      li
        a(href="/auth/facebook") Login with Facebook  