doctype html
html.no-js
  head
    title FrootBox
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="description",content="")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/css/main.css')
    script.
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
     ga('create', 'UA-46694476-1', 'launcheck.com');
     ga('send', 'pageview');
  body
#holder
  header
    .wrapper
      .navItem.navItemLeft.logo
        | <a href="/"><strong>froot</strong>box</a>
      .navItem.navItemLeft  Features
      .navItem.navItemLeft  Press
      if (typeof(user) == 'undefined')
        .navItem.navItemRight  
          a(href="/login")  Sign in
        .navItem.navItemRight  Plans
        .navItem.navItemRight
          a(href="/register") Sign up
      else
        li
          .navItem.navItemRight
            a(href="/logout") Logout

      
  #body
    block content
  footer
    .wrapper
      leftLinks
        brandname
          strong froot
          | box
        footerLinks About us
        footerLinks Contact
        footerLinks Help
      rightLinks
        footerLinks Join us
        footerLinks Press
        footerLinks Legal
        copyright
          | Proudly made in <a href="http://en.wikipedia.org/wiki/Talcahuano"><strong>Talcahuano, Chile</strong></a> and <strong>San Francisco, California</strong>. FrootBox © 2014