extends neolayout

block content
  .wrapper
    form#signup(action="/register",method="post")
      h2 Sign Up
      div
        label Email
        input(type="text",name="username")

      div
        label Password
        input(type="password",name="password")

      div
        input(type="submit",value="Send")