extends layout

block content  
    .pure-g
      .pure-u-1
        h2
          = check._domain[0].hostname
        if(status == 'crawling')
          h3 Crawling
        else
          h3 Processing
        div#data(style="display:none;")
          div.id
            = check._id
        div.progress
          div.bar          
          div.label
        script.
          //setTimeout(function(){document.location = document.location; },3000);
          function progress(){
            var id = $("#data .id").text().trim();
            $.get("/check/"+id+"/status",function(data){             
              console.log(data, data.status); 
              if(data.status == 'completed')
              {                
                document.location = document.location;
                
              }  
              else if(data.status == 'crawling')
              {
                 $(".progress .bar").animate({'width':0});
                 $(".progress .label").text("Crawling");
              }  
              if(data.status == 'progress')
              {                
                 $("h3").text("Processing");
                 var percent =  Math.floor(( data.progress/data.total) *100 )  +"%"; 
                 $(".progress .bar").animate({'width':percent});
                 if(percent == "100%"){
                    percent = "99%"
                 }                 
                 $(".progress .label").text(percent);
                // if(percent == "100%")//for now
                //    document.location = document.location;
              }       
                         
            });                                                            
            setTimeout(function(){ progress(); },3000);
          }
          
          setTimeout(function(){ progress(); },2000);
                    