extends layout

block content
    .pure-g.check-header
      .pure-u-3-4
        h3 Public report for
        h2
          = check._domain[0].hostname
        p
      .pure-u-1-4
        .box-small-details
            .status
              | #{check.running ? 'Incomplete' : 'Complete'}
            .meta
                ul
                    li.created
                      strong Created:
                      = check.created
                    li.time
                      strong Time:
                      | #{check.running ? '...' : check.completedOn }
      .pure-u-1
        ul.details
          li.details-site.pure-u-1.details-current
            a(href="javascript:;")
                h4
                  span.title Site Checks
                  .mini-details
                    ul
                      li
                        strong sitemap
                        if(check.hasSitemap)
                          em.found &#10003;
                        else
                          em.not-found &#10060;
                      li
                        strong Custom 404
                          if(check.hasSitemap)
                            em.found &#10003;
                          else
                            em.not-found &#10060;
                      li
                        strong Indexed
                        em
                          = check.totalPages
                      li
                        strong Checked
                        em
                          = check.totalPagesChecked
                      li
                        strong Files
                        em
                          = check.totalFiles
                      li
            .details-content.pure-u-1
              .pure-u-1-3
                h5 SEO
                ul
                  li
                    if(check.hasSitemap)
                      em.check-result.result-ok &#10003;
                    else
                      em.check-result.result-fail &#10060;
                    big.check-name sitemap.xml
                    span.check-description
                      |  A <strong>file</strong> or <strong>files</strong> where all your pages are listed for Google and Bing.
                  li
                    if(check.hasRobotsTXT)
                      em.check-result.result-ok &#10003;
                    else
                      em.check-result.result-fail &#10060;
                    big.check-name robots.xml
                    .span.check-description
                      |  A file that tells the search engines which pages list and/or exclude in search results.
                  li
                    if(check.worksWithoutWWW)
                      em.check-result.result-ok-pending &#8854;
                    else
                      em.check-result.result-fail-pending &#8854;
                    big.check-name Remove www subdomain
                    .span.check-description
                      |  The site has to be the same at <strong>domain.com</strong> and <strong>www.domain.com</strong>.
                  li
                    if(check.hasSeoFriendlyUrls)
                      em.check-result.result-ok-pending &#8854;
                    else
                      em.check-result.result-fail-pending &#8854;
                    big.check-name SEO friendly URL
                    .span.check-description
                      |  Urls has to be <strong>domain.com/hello-world/</strong> instead of <strong>domain.com?pid=12&name=hello</strong>.
              .pure-u-1-3
                h5 Usability
                ul
                  li
                    if(check.brokenLinksNumber == 0)
                      em.check-result.result-ok-pending &#8854;
                    else
                      em.check-result.result-fail-pending &#8854;
                    big.check-name Broken links
                    .span.check-description
                      |  Pages or files not found.
                  li
                    if(check.isHTML5 && check.hasHTML5Compatibility || (!check.isHTML5) )
                      em.check-result.result-ok-pending &#8854;
                    else
                      em.check-result.result-fail-pending &#8854;
                    big.check-name HTML5 Compatibility
                    .span.check-description
                      |  The site has a doctype for html5 and has some compatibility library for older browsers.
                  li
                    if(check.hasCustom404)
                      em.check-result.result-ok-pending &#8854;
                    else
                      em.check-result.result-fail-pending &#8854;
                    big.check-name Custom 404 page
                    .span.check-description
                      |  The site has an error page diferent from the default response that the server offers.
                  li
                    if(check.hasFavicon)
                      em.check-result.result-ok &#10003;
                    else
                      em.check-result.result-fail &#10060;
                    big.check-name Favicon
                    .span.check-description
                      |  Icon for the web browser, searched in www.domain.com/<strong>favicon.ico</strong>.
              .pure-u-1-3
                h5 Analytics and Optional
                ul
                  li
                    if(check.hasGA)
                      em.check-result.result-ok-pending &#8854;
                    else
                      em.check-result.result-fail-pending &#8854;
                    big.check-name Google Analytics
                    .span.check-description
                      | 
                      strong
                        if(check.gaCode)
                          = check.gaCode
                          | ,
                      | GA code is present in all pages from the website.
                  li
                    if(check.hasiOSThumbs)
                      em.check-result.result-ok-pending &#8854;
                    else
                      em.check-result.result-fail-pending &#8854;
                    big.check-name iOS Thumbs
                    .span.check-description
                      |  The website offers compatibility with iOS to set a webpage as an app icon.
                  li
                    if(check.hasiOSImage)
                      em.check-result.result-ok-pending &#8854;
                    else
                      em.check-result.result-fail-pending &#8854;
                    big.check-name Windows 8 image
                    .span.check-description
                      |  The website offers compatibility with Windows 8 to set a webpage as tile icon.
                  li
                    if(check.hasHumansTXT)
                      em.check-result.result-ok &#10003;
                    else
                      em.check-result.result-fail &#10060;
                    big.check-name humans.txt
                    .span.check-description
                      |  A files that has the description of the people that created the website.
              .pure-u-1-8.single-item.errors-score.errors-score-js
                  em.legend JS Errors
                  big.number
                    | #{check.totalJSErrors ?  check.totalJSErrors : '-' }
                  .extra
              .pure-u-1-8.single-item.errors-score.errors-score-html
                  em.legend HTML Errors
                  big.number
                    | #{check.totalHTMLErrors ?  check.totalHTMLErrors : '-' }
                  .extra
              .pure-u-1-8.single-item.errors-score.errors-score-css-e
                  em.legend CSS Errors
                  big.number
                    | #{check.totalCSSErrors ?  check.totalCSSErrors : '-'}
                  .extra
              .pure-u-1-8.single-item.errors-score.errors-score-css-w
                  em.legend CSS Warnings 
                  big.number
                    | #{check.totalCSSErrors ?  check.totalCSSErrors : '-' }
                  .extra              
              .pure-u-1-8.single-item
                  .extra
              .pure-u-1-8.single-item.errors-score.errors-score-min-pagespeed
                em.legend &lt; PageSpeed
                big.number
                  | -
                .extra / 100
              .pure-u-1-8.single-item.errors-score.errors-score-min-yslow
                em.legend &lt; YSlow
                big.number
                  | -
                .extra  / 100
              .pure-u-1-8.single-item.errors-score.errors-score-min-pagespeed-mobile
                em.legend &lt; PSMobile
                big.number
                  | -
                .extra / 100                          
              .pure-u-1
                #chart-validation
                 svg
                #chart-performance
                  svg
              script.
                var pages = !{JSON.stringify(check.pages)} ;
                var pages_screenshots = !{JSON.stringify(screenshots)} ;
          li.details-validation.pure-u-1
            a(href="javascript:;")
                h4
                  span.title Validaton
                  .mini-details
                    ul
                      li
                        strong HTML Errors
                        em
                          | #{check.totalCSSErrors ? check.totalCSSErrors : '-'  }
                      li
                        strong CSS Errors
                        em
                          | #{check.totalCSSErrors ? check.totalCSSErrors : '-'  }
                      li
                        strong JS Errors
                        em
                          | #{check.totalJSErrors ? check.totalJSErrors : '-'  }
            .details-content.pure-u-1
              .pure-u-1-5.single-item.errors-score
                  em.legend HTML Errors
                  big.number
                    | #{check.totalHTMLErrors ?  check.totalHTMLErrors : '-' }
                  .extra
              .pure-u-1-5.single-item.errors-score
                  em.legend CSS Errors
                  big.number
                    | #{check.totalCSSErrors ?  check.totalCSSErrors : '-'}
                  .extra
              .pure-u-1-5.single-item.errors-score
                  em.legend JS Errors
                  big.number
                    | #{check.totalJSErrors ?  check.totalJSErrors : '-' }
                  .extra
              .pure-u-1
                | #chart-validation
                | svg
          li.details-performance.pure-u-1
            a(href="javascript:;")
                h4
                  span.title Performance
                  .mini-details
                    ul
                      li
                        strong Avg Google Pagespeed
                        em 82
                      li
                        strong Avg YSlow Pagespeed
                        em 81
            .details-content.pure-u-1
              .pure-u-1
                | #chart-performance
                | svg
    if check.files.length
      .pure-g.page-errorlinks
        .pure-u-1
          h2
            | <strong>Error</strong> Page links
          ul.public-list
            - each page in check.files
              li
                | <a target="_blank" href="#{page.url ? page.url : ''}">#{page.url ? page.url : ''} <em class="status">#{page.httpStatus ? page.httpStatus : ''}</em></a>
    else
      .pure-g.page-errorlinks.without-errorlinks
        .pure-u-1
          h2
            | <strong>Great!</strong> we could not find any broken links.
    .pure-g.check-body
        .pure-u-1
            h2.page-grid-title
              | Individual page checks
            ul.page-states-menu
                li.current
                  a(href="javascript:;",rel="grid")
                    i.icon
                      | &#9871;
                    span
                      | Grid
                li(style="display:none;")
                  a(href="javascript:;",rel="list")
                    i.icon
                      | &#57349;
                    span
                      | List
                li(style="display:none;")
                  a(href="javascript:;",rel="screenshots")
                    i.icon
                      | &#127748;
                    span
                      | Screenshots
                li
                  a(href="javascript:;",rel="mobile")
                    i.icon
                      | &#128241;
                    span  Mobile 
                li
                  a( href="javascript:;",rel="facebook")
                    i.icon
                      | &#128101;
                    span
                      | Facebook
                | <!-- PENDING:  <li><a href="javascript:;" rel="twitter"><i class="icon">&#128101;</i><span>Twitter </span></a></li>  -->                
            .page-views-menu
        #page-grid.grid
        #page-gridx
    script(id="page-result-template" type="text/x-handlebars-template").
      {{ debug }}
        <div class="pure-u-1-2 page-result page-{{index}}  page-id-{{_id}}">            
            <div class="title">
              <h4><a href="javascript:;">{{title}}</a></h4>
              <h5 class="url">{{url}}</h5>
            </div>
            {{#if facebook}}  
              {{#if facebook.title}}  
            <div class="og">
                <a href="{{facebook.url}}" target="_blank">
                    <div class="image">
                        <img src="{{ facebook.image }}" />
                    </div>
                    <div class="content">
                        <h4{{facebook.title}}</h4>
                        <h5>{{facebook.url}}</h5>
                        <div class="text">{{facebook.description}}</div>
                    </div>
                </a>
            </div>
              {{else}}
              <div class="og">
                <div class="no-data">Not found Facebook metadata.</div>
              </div>
              {{/if}}
            {{else}}
              <div class="og">
                <div class="no-data">Not found Facebook metadata.</div>
              </div>
            {{/if}}
           
            <div class="screenshot-view">                              
                <div class="screenshot desktop">
                  <div class="mask">
                {{#each screenshots}}       
                  {{#ifCond width 1440}}           
                    <a href="https://s3-us-west-2.amazonaws.com/{{bucket}}/{{key}}" target="_blank"><img src="https://s3-us-west-2.amazonaws.com/{{bucket}}/{{keyThumb}}"/></a>
                  {{/ifCond}}  
                {{/each}}
                  </div>
                </div>
                
            </div>
            <div class="mobile-view">
                <ul class="optimization">                    
                    <li class="pagespeed check"><span>PageSpeed Mobile</span><em>{{ googlePageSpeedMobile.score }}</em></li>    
                </ul>
                <div class="metadata">
                  {{#if mobile}}           
                    {{#if mobile.viewport}}           
                      <h5>Meta Viewport</h5>
                      <p>{{ mobile.viewport }}</p>
                    {{/if}} 
                  {{/if}} 
                </div>
                <div class="screenshots">
                <div class="320 shot">
                    <div class="screenshot s320x480">
                      <div class="mask">
                        {{#each screenshots}}                               
                          {{#ifCond width 320}}           
                            <a href="https://s3-us-west-2.amazonaws.com/{{bucket}}/{{key}}" target="_blank"><img src="https://s3-us-west-2.amazonaws.com/{{bucket}}/{{keyThumb}}"/></a>
                          {{/ifCond}}  
                        {{/each}}
                      </div>
                    </div>
                    <h4>Portrait 320x480</h4>                    
                </div>

                <div class="480 shot">
                    <div class="screenshot s480x320">
                      <div class="mask">
                        {{#each screenshots}}                               
                          {{#ifCond width 480}}           
                            <a href="https://s3-us-west-2.amazonaws.com/{{bucket}}/{{key}}" target="_blank"><img src="https://s3-us-west-2.amazonaws.com/{{bucket}}/{{keyThumb}}"/></a>
                          {{/ifCond}}  
                        {{/each}}
                      </div>
                    </div>
                    <h4>Landscape 480x320</h4>
                </div>
                
                <div class="768x1024 shot">
                    <div class="screenshot s768x1024">
                      <div class="mask">
                        {{#each screenshots}}                               
                          {{#ifCond width 768}}           
                            <a href="https://s3-us-west-2.amazonaws.com/{{bucket}}/{{key}}" target="_blank"><img src="https://s3-us-west-2.amazonaws.com/{{bucket}}/{{keyThumb}}"/></a>
                          {{/ifCond}}  
                        {{/each}}
                      </div>
                    </div>
                    <h4>Portrait 768x1024</h4>
                </div>

                <div class="1024x768 shot">
                    <div class="screenshot s1024x768">
                      <div class="mask">
                        {{#each screenshots}}                               
                          {{#ifCond width 1024}}           
                            <a href="https://s3-us-west-2.amazonaws.com/{{bucket}}/{{key}}" target="_blank"><img src="https://s3-us-west-2.amazonaws.com/{{bucket}}/{{keyThumb}}"/></a>
                          {{/ifCond}}  
                        {{/each}}
                      </div>
                    </div>
                    <h4>Landscape 1024x768</h4>
                </div>
                </div>

                
                <div class="disclaimer">
                  <strong>Important note:</strong> This screenshots are an aproximation of how pages are rendered in different mobile devices, not the actual ones. This screenshots are taken with the Webkit Rendering Engine that is used in Iphone, Safari and Chrome (and soon Opera) Browsers.
                </div>

            </div>
            <div class="summary">
                <ul class="validation">                
                    <li class="title">Page validation</li>    
                    <li class="html"><span>HTML</span><em>
                    {{#if htmlValidation}} 
                      {{#if htmlValidation.messages}} 
                        <a href="http://validator.w3.org/check?uri={{url}}" target="_blank">{{htmlValidation.messages.length}}</a>
                      {{else}}
                       0
                      {{/if}}
                    {{else}}
                      -
                    {{/if}}
                    </em></li>
                    <li class="csse"><span>CSS Error</span><em>
                    {{#if cssValidation}} 
                      {{#if cssValidation.errorCount}} 
                        <a href="http://jigsaw.w3.org/css-validator/validator?uri={{url}}" target="_blank">{{cssValidation.errorCount}}</a>
                      {{else}}
                      0
                      {{/if}}
                    {{else}}
                      -
                    {{/if}}
                    </em></li>
                    <li class="cssw"><span>CSS Warn</span><em>
                    {{#if cssValidation}} 
                      {{#if cssValidation.warningCount}} 
                        <a href="http://jigsaw.w3.org/css-validator/validator?uri={{url}}" target="_blank">{{cssValidation.warningCount}}</a>
                      {{else}}
                      0
                      {{/if}}
                    {{else}}
                      -
                    {{/if}}
                    </em></li>
                    <li class="js"><span>JS</span><em>
                    {{#if jsErrors}} 
                      {{#if jsErrors.count}} 
                        {{jsErrors.count}}
                      {{else}}
                        0
                      {{/if}}
                    {{else}}
                      -
                    {{/if}}                  
                    </em></li>
                </ul>

                <ul class="optimization">                    
                    <li class="title">Page Optimization</li>
                    <li class="pagespeed check" data-score="{{ googlePageSpeedDesktop.score }}"><em>
                    {{#if googlePageSpeedDesktop}} 
                      {{ googlePageSpeedDesktop.score }} / 100
                    {{else}}
                        -
                    {{/if}}
                    </em><span>PageSpeed Desktop</span></li>                    
                    <li class="yslow check" data-score="{{ yahooYSlow.score }}"><em>
                     {{#if yahooYSlow}} 
                      {{ yahooYSlow.score }} / 100
                    {{else}}
                        -
                    {{/if}}
                    </em><span>Yahoo YSlow</span></li>                        
                </ul>

                <ul class="social">                    
                    <li class="title">Social integration</li>
                    <li class="facebook"><span>Facebook
                      {{#if facebook}} 
                        <em class="status ok">&#10003;</em>
                      {{else}}
                        <em class="status fail">&#10060;</em>
                      {{/if}}
                    </span></li>
                    <li class="twitter"><span>Twitter
                    {{#if twitter}} 
                        <em class="status ok">&#10003;</em>
                      {{else}}
                        <em class="status fail">&#10060;</em>
                      {{/if}}
                    </span></li>                        
                </ul>

                {{#if yahooYSlow}} 
                <ul class="metadata">                  
                  <li>Loaded<strong>{{ yahooYSlow.loadtime }}ms</strong></li>
                  <li>Files<strong>{{ yahooYSlow.requests }}</strong></li>
                  <li>Size<strong>{{  yahooYSlow.size }}</strong></li>
                </ul>                      
                {{/if}}
                

                <ul class="more-info">
                  {{#if htmlValidation}} 
                    {{#unless htmlValidation.valid}} 
                      <li class="html">
                          <h4><a href="javascript:;">HTML Errors - details</a></h4>
                          <div class="content">
                              {{#each htmlValidation.messages}}       
                                <div class="item">
                                  <h5>{{ message }} ( L: {{ lastLine }} C: {{ lastColumn }} )</h5>                                  
                                  <div class="explanation">
                                    {{{ explanation }}}
                                  </div>
                                </div> 
                              {{/each}}
                          </div>
                      </li>
                    {{/unless}}
                  {{/if}}

                  
                  {{#if jsErrors}} 
                    {{#if jsErrors.count}} 
                      <li class="js">
                          <h4><a href="javascript:;">JS Errors - details</a></h4>
                          <div class="content">
                              {{#each jsErrors.messages}}       
                                <div class="item">
                                  <h5>{{ msg }}</h5>                                  
                                  <pre class="trace">
                                    {{#each trace}}
                                      {{@index}}: {{this}}
                                    {{/each}}
                                  </pre>
                                </div> 
                              {{/each}}
                          </div>
                      </li>
                    {{/if}}
                  {{/if}} 

                  {{#if consoleMessages}} 
                    {{#if consoleMessages.count}} 
                      <li class="cosole">
                          <h4><a href="javascript:;">Console</a></h4>
                          <div class="content">
                              {{#each consoleMessages.messages}}       
                                <div class="item">
                                  <pre>{{ msg }}</pre>
                                </div> 
                              {{/each}}
                          </div>
                      </li>
                    {{/if}}
                  {{/if}}
                </ul>                
            </div>
        </div>