body {
    padding-top: 0px;
}

@font-face {
    font-family: 'entypo';
    src: url('entypo/entypo.eot'); /* IE9 Compat Modes */
    src: url('entypo/entypo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('entypo/entypo.woff') format('woff'), /* Modern Browsers */
         url('entypo/entypo.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('entypo/entypo.svg#entypo') format('svg'); /* Legacy iOS */
}

a{
    color:#09f;
}
a:hover{
    color:#333;
}

.pure-u-1-8{ width:12% !important;}
/**HOME**/

ul.public-list{
    list-style-type: none;
    padding:0;
    margin:0;
}

ul.public-list li{
    list-style-type: none;
    padding:6px 8px;
    margin:0;    
}
ul.public-list li img{
    margin-right: 12px;
    margin-top: 0px;
    margin-bottom: -3px;
}

ul.public-list li a{
    text-decoration: none;
    color: #09f;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    width: 100%;
    float: left;
    padding: 7px;
}


.display-data {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: normal;
    line-height: 40px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
.controls .error {
    color: #B94A48;
}

.pure-g{
    max-width: 960px;
    margin: 0 auto;
}

.check-header{

}
.check-header h2,.check-header h3{
    font-family: Droid Sans,sans-serif;
    padding: 0 0 0 20px;
    margin:0;
}
.check-header h2{
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    color:#777;
}
.check-header h3{
    font-weight: 400;
    color:#999;
    margin-top: 20px;
}

.box-small-details,.box-small-details *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.box-small-details{
    padding: 10px;
    text-align: center;
    border:1px solid #eee;
    margin: 12px 0;
    overflow: hidden;
}
.box-small-details .status{
    font-family: Droid Sans,sans-serif;
    font-weight: 700;
    font-size: 18px; 
    line-height: 24px;   
}
.box-small-details ul{
    padding: 0;
    margin: 0;   
}
.box-small-details ul li{
    list-style-type: none;
    color:#ccc;
    width:100%;    
    text-align: center:;
    float: left;
    font-size: 14px;
    font-family: Droid Sans,sans-serif;
    font-weight: 400;


}

.details{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.details,.details *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}
.details > li{
  /*  margin-bottom: 2px;
    border: 1px solid #eee;*/
}
.details > li > a{
    
    padding: 10px 20px 10px 20px;
    float: left;
    width: 100%;
    text-decoration: none;
    color: #333;
    display: none;
}

.details > li > a em{
    transition:all 0.125s;
    -webkit-transition:all 0.125s;
}
.details > li > a:hover{
    color:#fff;
    background-color: #333;

}

.details > li >a:hover em{
    
    color:#333;
}

.details > li > a:hover em{ color:#fff !important; }
.details > li > a:hover strong{ color:#ddd !important; }
.details > li  > a h4{
    padding: 0;
    margin: 0;
    font-size:24px;   
}
.details > li  > a h4 .title{
    float: left;
    display: block;
    width:50%;
    font-family: Droid sans, sans-serif;
    font-weight: 700;
}
.details > li  > a h4 .mini-details{    
    text-align: right;
    width:50%;
    float: left;
    
}
.details > li  > a h4 .mini-details ul{
    margin:0;
    padding:0;
    text-align: right;
}
.details > li  > a h4 .mini-details li{
    list-style-type: none;
    display: inline-block;
    font-size:12px;
    line-height: 18px;
    color:#999;
    font-style: normal;    
    font-family: Droid Sans;
    font-weight: 400;
}
.details > li  > a h4 .mini-details li:after{
    content:"/";    
    margin-left: 6px;
    font-size: 18px;
    font-weight: normal;
    color:#eee;
    
}
.details > li  > a h4 .mini-details li:last-child:after{
    content:"\00a0";    
}
.details > li  > a h4 .mini-details li strong{
    font-weight: normal;
}
.details > li  > a h4 .mini-details li em{
    font-style: normal;
    font-size: 18px;
    color:#777;
}

.details > li  > a h4 .mini-details li em.not-found:after{
    
}

.details > li  > a h4 .mini-details li .status{
    font-family: entypo;
    font-size: 32px;
    margin-top: auto;
    display: inline-block;
    line-height: 18px;
}

.details .details-current .mini-details{
    opacity: 0;
    filter:alpha(opacity=0);
}
.details .pure-u-1-3{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:33%;
}

.details-content{
    width:100%;
    padding: 20px 20px 0px;
    display: none;
    float:left;
}
.details-current .details-content{
    display: block;
}
.details-current > a {
    border-bottom: 1px solid #e5e5e5;
}
.details-content .check-result{
    font-size: 39px;
    clear: both;
    display: block;
    width: 24px;
    height: 24px;
    line-height: 28px;
    float: left;
    text-align: left;
    font-family: entypo;
    margin-top: -11px;
    font-style: normal;
}
.details-content .check-result.result-ok{
    color:#9c0;
}
.details-content .check-result.result-fail{
    color:#c30;
}
.details-content .check-result.result-fail-pending,.details-content .check-result.result-ok-pending{
    color:#ddd;
}
.details-content .check-name{
    font-style: normal;
    font-size:12px;
    display: block;
    float: left;
    line-height: 24px;
}
.details-content .check-description{
    width: 80%;
    clear: both;
    display: block;
    color: #bbb;
    font-size: 11px;
    padding-left: 24px;
    height: 3em;
    
}
.details-content .check-description i{
    font-family: entypo;
}
.details-content .check-description strong{
    font-weight: normal;
    color:#999;
}

.details-content h5{
    margin: 0px 0px 12px 24px;
    padding: 0px;
    font-family: Droid Sans,sans-serif;
    font-size: 14px;
}

.details-content .pure-u-1-3 ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.details-content .pure-u-1-5{
    width:19.5%;
}
.details-content .single-item{
    text-align: center;
    margin-top: 32px;
    
}
.details-content .single-item .legend{
    font-size: 16px;
    font-family: Droid Sans,sans-serif;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    clear: both;
    font-style: normal;

}
.details-content .single-item .number{
    font-size: 48px;
    font-family: Droid Sans,sans-serif;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    clear: both;
    width: 100%;

}

.score-excellent{ color:#009a2d  !important; }
.score-warning{ color:#fda100  !important; }
.score-error{ color:#dd4b39 !important; }


.details-content .single-item .extra{
    font-size: 13px;
    font-family: Droid Sans,sans-serif;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    clear: both;
    margin-top: -9px;
    float: left;
    width: 100%;
    
}

.max-score{
    color:#9c0;
}

.min-score{
    color:#f30;
}
.errors-score{
    color:#f30;   
}

 #chart-validation svg .nv-x.nv-axis .tick.major text ,#chart-optimization svg .nv-x.nv-axis .tick.major text {
    font-size:10px;
    color:#eee;
    display: none;
}

#chart-general{    
    /*width:920px;
    height:460px;
    padding:20px 20px 0px;*/
    width:440px;
    height:400px;
    padding:25px 10px 0px;
    float:left;
}

#chart-validation{    
 /*    width:920px;
    height:460px;
    padding:20px 20px 0px;*/
    width:520px;
    height:400px;
    padding:25px 0px 0px 0px;
    float:left;
}

#chart-performance{    
    /*width:920px;
    height:460px;
    padding:20px 20px 0px;*/
    width:400px;
    height:400px;
    padding:25px 0px 0px;
    float:left;
}

.page-errorlinks{
    margin-top: -40px;
    margin-bottom: -20px;
}
.page-errorlinks h2{ 
    margin: 0 0 0 9px;
    font-size: 1.6em;
    font-family: Droid sans,sans-serif;
    font-weight: 400;
    border-bottom: 1px solid #ddd;    
}
.page-errorlinks  strong{
    color:#f30;
}
.page-errorlinks.without-errorlinks strong{
    color:#9c0;
}
.page-errorlinks h2 i{
    text-align: left;
    font-family: entypo;
    font-size: 39px;
    clear: both;
    display: block;
    width: 24px;
    height: 24px;
    line-height: 28px;
}

.page-grid-title{
    margin: 50px 0px 10px 9px;
    padding: 0px;
    font-size: 1.6em;
    font-family: Droid sans,sans-serif;
    font-weight: 700;
}


.page-states-menu{
    float:left;
    margin:0;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #ddd;    
}
.page-states-menu li{
    float:left;
    list-style-type: none;
    line-height: 16px;    
    border: 1px solid #ddd;    
    margin: 0 6px -1px ;


}

.page-states-menu li a{
    color:#333;
    text-decoration: none;
    line-height: 16px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.page-states-menu li.current {
    border-bottom-color:#fff;
}
.page-states-menu li a span{
    font-family: Droid sans,sans-serif;
    line-height: 16px;        
    float:left;
    display: inline-block;
    width:80px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    overflow: hidden;
    text-indent: 0em;
    font-size:16px;
    
    transition:all 0.25s ease-in 0.125s;
    -webkit-transition:all 0.25s ease-in 0.25s ;

}
.page-states-menu li a:hover span,.page-states-menu li.current span{        
    padding-left: 10px;
    padding-right: 20px;
    width:80px;
    text-indent: 0em;
}

.page-states-menu li a:hover i,.page-states-menu li.current i{
    color:#333;

}
.page-states-menu i{
    font-family: 'entypo';   
    font-size: 64px;
    font-style: normal;
    line-height: 16px;    
    float:left;
    display: inline-block;
    color:#777;
}

#page-grid{
    float:left; 
    width:100%;
    padding:20px;
    min-height: 400px;
    margin-bottom: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#page-grid *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#page-grid .pure-u-1-2{
 transition:all 0.25s ease-out;
}

#page-grid.grid .pure-u-1-2{
    width:47.5%;
}

#page-grid.list .pure-u-1-2{
    width:99.5%;
}

#page-grid.screenshots .pure-u-1-2{
    width:23%;
}

#page-grid.facebook .pure-u-1-2{
    width:48%;
}

#page-grid.mobile .pure-u-1-2{
    width:99.5%;
}

#page-grid.screenshots ul{
    width:0;
    margin:0;
    padding:0;

}

#page-grid.title h4{
    margin-top: 6px;
    margin-bottom: 6px;
    width: 140px;
    font-size: 12px;
    float: left;
}
#page-grid.tittle h5{
    
    width: 140px;
    font-size: 10px;
    float: left;
}

.page-result{
    border:1px solid #eee;
    padding: 10px;
    margin:1%;
}
.page-result .screenshot-view{
    float:left;
    width:160px; 
    margin-right: 10px;     
    text-align: center;
    
}

.page-result .screenshot-view h4{
    display: none;
}
.page-result .screenshot-view img{
    float:none;
    max-width:140px;
    max-height:200px;    
    background-color: #ddd;
    display: block;
    margin: 0 auto;

}
#page-grid .page-result .mobile-view-header{
    display: none;
}


.page-result .mobile-view{
    display: none;
}


.page-result .title h4{
    margin:0;
    font-family: Droid sans,sans-serif;
    font-weight: 700;
}
.page-result .title h4 a{
    color:#333;
    text-decoration: none;
}

.page-result .title h4 a:hover{
    color:#09F;
    text-decoration: none;
}
.page-result .title h5{
    margin:0;
    font-size: 12px;
    font-weight: 400;

    margin:0px 0px 20px;    
    overflow: hidden;
}
.page-result .title h5:before{
    content: "URL:";
    margin-right: 5px;
    color:#777;
}

.page-result .summary{ float:left; width:240px; margin-left: 5px; }

.page-result ul{
    float:left;
    margin: 1%;
    padding: 0;
    width:17%;
    overflow: hidden;
    transition:all 0.25s ease-out;
    margin-bottom: 6px;
}

.page-result ul.validation{ margin-left: 0; width:240px; height:65px; margin-top: -4px;}
.page-result ul.social{ width: 15%; }
.page-result ul.optimization{ width:240px; }

.page-result ul.validation li{
    width: 60px;
    padding: 0px;
    float: left;
}
.page-result ul.validation li span{
    font-size: 11px;
    text-align: center;
    width:100%;
    margin-bottom: 4px;
}
.page-result ul.validation li em{
    font-size:28px;
    text-align: center;
    width:100%;
    font-family: Droid sans,sans-serif;
}
.page-result ul.validation li a{
    text-decoration: none;
    color:#333;
}
.page-result ul.validation li a:hover{
    color:#f30;
}

.page-result ul.metadata{
    float:left;
    width:180px;
    margin-left: -165px;
    margin-top:-40px;
}
.page-result ul.metadata li{
    float:left;
    width:40px;
    margin:0 5px;
    text-align: center;
    font-size: 10px;
    color:#aaa;
}
.page-result ul.metadata li.title{
    text-align: left;
}
.page-result ul.metadata li strong{
    display: block;
    clear:both;
    font-weight: 400;    
    font-family: Droid sans,sans-serif;
    font-size: 12px;
}

.page-result ul.more-info{
    float:left;
    width:420px;
    margin-left:-180px;  
    margin-top: 20px;
    margin-bottom: 0px;  
}
.page-result ul.more-info li{
    padding: 4px 8px;
    border:1px solid #eee;
    float:left;
    width: 420px;
    background-color: #fff;
    transition:all 0.25s;
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    margin-bottom: 4px;
}

.page-result ul.more-info li h4{
    font-size:12px;
    font-weight: 400;
    margin: 0;
}
.page-result ul.more-info li h4 a{
    text-decoration: none;
}

.page-result ul.more-info li .content{
    display: none;
    float:left;
}
.page-result ul.more-info li.show{
    background-color: #eee;
}
.page-result ul.more-info li.show .content{
    display: block;
}
.page-result ul.more-info .html .content .item{
    float: left;
    border-bottom: 2px solid #fff;
    padding: 10px 20px 12px 6px;
    width:400px;    
}
.page-result ul.more-info .html .content .item h5{
    font-size: 12px;
    font-weight: 400;    
    margin:0;
}
.page-result ul.more-info .html .content .item p{
    width: 100%;
    margin: 0;
}

.page-result ul.more-info .html .content .item .explanation{
    
}
.page-result ul.more-info .html .content .item dl{
    margin: 0;

}
.page-result ul.more-info .html .content .item dd{
   margin-left: 0px;
border-left: 2px solid #ddd;
padding-left: 10px;
margin-top: 5px;
}
.page-result ul.more-info .html .content .item .helpwanted{
    display: none;
}

.page-result ul.more-info li pre{
    border-bottom: 2px solid #FFFFFF;
    font-size: 11px;
    margin: 0;
}


.screenshot.desktop{ background:url(/img/desktop.png) no-repeat; width:179px; height:154px; float:left; }
.screenshot.desktop .mask{ 
float: left;
margin-top: 7px;
margin-left: 23px;
overflow: hidden;
width: 128px;
height: 80px;
 }

.screenshots{ float:left;  margin-left: 140px; }
.screenshot.s320x480{ background:url(/img/320x480.png) no-repeat; width: 125px; height: 213px; float:left; }
.screenshot.s320x480 .mask{
  float: left;
margin-top: 38px;
margin-left: 21px;
overflow: hidden;
width: 85px;
height: 128px;
}

.screenshot.s480x320{ margin-top:50px; background:url(/img/480x320.png) no-repeat; width: 207px; height: 162px; float:left; }
.screenshot.s480x320 .mask{ 
float: left;
margin-top: 10px;
margin-left: 43px;
overflow: hidden;
width: 128px;
height: 85px;
}

.screenshot.s768x1024{ margin-top: 20px; margin-left: 10px; margin-right: 10px;background:url(/img/768x1024.png) no-repeat; width: 125px; height: 192px; float:left; }
.screenshot.s768x1024 .mask{ 
    float: left;
    margin-top: 14px;
    margin-left: 12px;
    overflow: hidden;
    width: 96px;
    height: 128px;
}

.screenshot.s1024x768{ margin: 40px 10px 0px 10px; background:url(/img/1024x768.png) no-repeat; width: 158px; height: 173px; float:left; }
.screenshot.s1024x768 .mask{
    float: left;
    margin-top: 13px;
    margin-left: 16px;
    overflow: hidden;
    width: 128px;
    height: 96px;
 }

.disclaimer{ width: 96%;
padding: 10px 2%;
font-size: 10px;
font-family: Droid sans,sans-serif;
color: #999;
float: left; }


.page-result ul.optimization{ width:240px; }
.page-result ul.optimization li.header{ width:240px !important;}
.page-result ul.optimization li{ float:left; width:110px; margin:0 5px;}
.page-result ul.optimization li em{
    width: 100%;
    float: left;
    font-size: 18px;
    text-align: center;
    padding: 4px 0px;
    color: #f30;
    /*background-color: #f30;*/
    font-weight: 700;
}
.page-result ul.optimization li span{
    font-size:11px;
    text-align: center;
    width: 100%;
}


.page-result ul.social{ width:240px; }
.page-result ul.social li{ float:left; width:110px; margin:0 5px; overflow:hidden;}
.page-result ul.social li span{
    width: 100%;
    float: left;
    font-size: 12px;
    text-align: left;
    padding: 0px 4px;
    color: #fff;
    background-color: #f30;
    font-weight: 400;
}
.page-result ul.social li span em{
     font-family: entypo;
    font-size: 48px;
    float: right;
    margin-top: -12px;
    margin-right: -11px;
}
.page-result ul.social li.facebook span{ 
    background-color: #3b5998;
}


.page-result ul.social li.twitter span{ 
    background-color: #00ACEE;
}

.page-result ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Droid sans,sans-serif;
    line-height: 1.5em;
}

.page-result ul li.title{
  font-size: 10px;
font-weight: 400;
color: #777;
border-bottom: 1px dashed #eee;
float: left;
width: 100%;
margin-bottom: 4px;

}
.page-result ul li span{
    width:75%;
    display: block;
    float: left;
}
.page-result ul li em{
    font-style: normal;
    width:25%;
    display: block;
    float: left;
}

.page-result .og{
    display: none;
}

#page-grid.facebook .page-result{
    /*padding:0;*/
    /*border-color: transparent;*/
}
#page-grid.facebook .page-result h5{
    margin-bottom: 10px;
}


#page-grid.facebook .page-result .og{
    display: block;
}
#page-grid.facebook .page-result .screenshot-view{
    display: none;
}
#page-grid.facebook .page-result .summary{
    display: none;
}

#page-grid.facebook .page-result .og  .image,#page-grid.facebook .page-result .og  .image img{
    float: left;
    max-width: 116px;
    max-height: 116px;
    display: block;
}
#page-grid.facebook .page-result .og .content{
    margin: 12px;
    float: left;
    width: 273px; 
    margin-bottom: 0px;
}
#page-grid.facebook .page-result .og {

-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px -1px;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(246, 247, 249);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(59, 89, 152);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(59, 89, 152);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(59, 89, 152);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(59, 89, 152);
border-top-style: none;
border-top-width: 0px;
box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px -1px;
color: rgb(59, 89, 152);
cursor: pointer;
direction: ltr;
display: block;
font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
font-size: 11px;
height: 116px;
line-height: 14px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 12px;
text-align: left;
text-decoration: none solid rgb(59, 89, 152);
width: 415px;
zoom: 1;
transition:all 0.5s;
}

#page-grid.facebook .page-result .og .no-data{
    font-size: 18px;
    padding-top: 50px;
    width: 100%;
    text-align: center;
    font-family: Droid sans;
    color:#f30;
}

#page-grid.facebook .page-result .og   a{
    background: #fff;
    border: 1px solid #dee2e9;
    border-bottom-color: #d2d5dc;
    border-right-color: #dbdee5;
    display: block;
    float: left;



}
#page-grid.facebook .page-result .og  a:hover{
   border-color: #e2e2e2 #dadada #ccc;
    -webkit-box-shadow: 0 1px 6px -1px #ccc;
}


#page-grid.facebook .page-result .og .content h4{
    margin: 0;

    color: rgb(59, 89, 152);      
    display: block;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 28px;
    line-height: 14px;
    text-align: left;
    zoom: 1;
}
#page-grid.facebook .page-result .og .content h5{
    margin: 0;

    color: rgb(137, 145, 156);
    display: block;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    height: 14px;
    line-height: 14px;

    text-align: left;
    zoom: 1;
}
#page-grid.facebook .page-result .og .content .text{
    color: rgb(137, 145, 156);
    display: block;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    height: 42px;
    line-height: 14px;
    margin-top: 14px;
    text-align: left;    
}



#page-grid.mobile .page-result  .mobile-view{
    display: block;
}
 
#page-grid.mobile .page-result  .mobile-view .metadata{
    margin-bottom: 19px;
    margin-top: 0px;
    text-align: left;
    float: left;
    width:600px;
    padding-left: 20px; 
}
#page-grid.mobile .page-result  .mobile-view .metadata h5{
    margin: 0px;
}
#page-grid.mobile .page-result  .mobile-view .metadata p{
    font-family: Droid sans,sans-serif;
    font-size: 12px;
    margin:0px;
}
#page-grid.mobile .page-result ul.optimization{
    width:120px;
    margin-top: -10px;
}

#page-grid.mobile .page-result ul.optimization li{

}
#page-grid.mobile .page-result ul.optimization li span{
    font-size: 13px;
}
#page-grid.mobile .page-result ul.optimization em{
    font-size: 36px;
}


#page-grid.mobile .page-result .screenshot-view{
    display: none;
}
#page-grid.mobile .page-result .screenshot-view h4{
    display: block;
    margin-bottom: 0px;
}

#page-grid.mobile .page-result .mobile-view-header{
    display: block;
}

#page-grid.mobile .page-result .mobile-view-header h4{
    margin:0;
    font-family: Droid sans,sans-serif;
    font-weight: 700;
}
#page-grid.mobile .page-result .mobile-view-header h4 a{
    color:#333;
    text-decoration: none;
}

#page-grid.mobile .page-result .mobile-view-header h4 a:hover{
    color:#09F;
    text-decoration: none;
}

#page-grid.mobile .page-result .mobile-view-header h5{
    margin:0;
    font-size: 12px;
    font-weight: 400;
    margin:0px 0px 0px;
}

#page-grid.mobile .page-result .mobile-view-header h5:before{
    content: "URL:";
    margin-right: 5px;
    color:#777;
}



#page-grid.mobile .page-result .summary{
    display: none;
}
#page-grid.mobile .mobile-view .shot {
      float: left; 
}
#page-grid.mobile .mobile-view .shot h4{
margin-bottom: 0px;
font-family: Droid sans,sans-serif;
font-weight: 400;
text-align: center;
font-size: 12px;
}
#page-grid.mobile .mobile-view .shot img{
    max-width:140px;    
    background-color: #eee;
    float: left;
    margin-right: 10px;
}

.progress{
  width:690px;
  height:30px;
  display:block;
  overflow:hidden;
  position:relative;
  margin:0 auto;
}
.progress .bar{
  position:relative;
  background:#3e3;
  height:30px;
  float:left;  
  border:1px solid #0f0;
}
.progress .label{
  position:absolute;
  z-index:2;
  width:690px;
  height:30px;
  line-height:30px;
  text-align:center;
}