@font-face {
    font-family: 'entypo';
    src: url('entypo.eot');
    src: url('entypo.eot?#iefix') format('embedded-opentype'),
    url('entypo.woff') format('woff'),
    url('entypo.ttf') format('truetype'),
    url('entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: 'entypo-social';
    src: url('entypo-social.eot');
    src: url('entypo-social.eot?#iefix') format('embedded-opentype'),
    url('entypo-social.woff') format('woff'),
    url('entypo-social.ttf') format('truetype'),
    url('entypo-social.svg#entypo-social') format('svg');
    font-weight: normal;
    font-style: normal;
    
}

@font-face 	{
    font-family: 'entypo-logo';
    src: 	url('entypo-logo-webfont.eot');
    src: 	url('entypo-logo-webfont.eot?#iefix') format('embedded-opentype'),
    url('entypo-logo-webfont.woff') format('woff'),
    url('entypo-logo-webfont.ttf') format('truetype'),
    url('entypo-logo-webfont.svg#entypo-logo') format('svg');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGG0oOwN11owqTushUsBvAfc.woff) format('woff');
}

entypo
{
    font-family: 'entypo';
    display:block;
    color:black;
}

html,body{
    height: 100%
}

#holder{
    min-height: 100%;
    position:relative;
    text-align:center;
}

#body{
    padding-bottom: 200px;    /* height of footer */
    text-align:center;
}


footer {
    position: relative;
    margin-top: -80px;
    margin-bottom: 0px;
    height: 80px;
    clear:both;
    vertical-align:bottom;
    overflow:hidden;
} 

leftLinks
{
    float:left;
    padding-top:7px;
    padding-left:12px;
    padding-right:12px;
    text-align:left;
    vertical-align:bottom;
}
rightLinks
{
    float:right;
    padding-top:7px;
    padding-left:12px;
    padding-right:12px;
    text-align:right;
    width:50%;
}

copyright,
footerLinks {    
    margin-left: 0px;
    margin-right: 12px;
    margin-bottom:0px;
    line-height:1.4em;
    vertical-align:bottom;
    display:inline-block;
    border-left:1px solid #ccc;
    padding-left: 12px;
}
copyright{
    border-left:none !important;
}

copyright
{
    color:#ddd;
}

copyright a
{    
    text-decoration: none;
    font-weight: bold;
    color:#fafafa;
}
footerLinks
{
    color:white;
}

leftLinks brandname{
    font-size:1.6em;
    
    color:white;
    clear:both;
    display:inline-block;
    float: left;
    margin-right: 20px;
    line-height: 1.4em;
}

rightLinks brandname
{
    color:rgba(0,0,0,0);
}

footer .wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
html {
    background-color: #fff;
}

body,
#body {
    text-align:center;
    margin: 0 auto;
    max-width: 100%;
    font-family: source-sans-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #666;
    background-color: #FFF;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    -webkit-font-smoothing: antialiased;
}


a {
    color: #0083e8; 
}

b, strong {
    font-weight: 600;
}

img {
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

header, footer {
    width: 100%;
    max-width: 100%;
    background:rgba(0,0,0,0.5);
    color:white;
    font-size:0.8em;
    z-index:1000;
}
header {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    position:fixed;
}
header .wrapper{
    margin: 0 auto;
    width:100%;
    max-width: 920px;
}

.navItem {
    padding:8px;
    margin-left:8px;
    margin-right:8px;
    text-transform:uppercase;
}

.navItemLeft
{
    float:left;
}
.navItemRight
{
    float:right;
}

.logo
{
    text-transform:lowercase;
    font-size:1.4em;
}

brandName
{
    color:black;
}

.title {
    padding-bottom:32px;
    padding-top:64px;
    text-align:center;
    font-size:3em;
    line-height: .8em;
    letter-spacing:-0.05em;
}

.main {
    color: #;
    background:#195591 url(images/main_bg.jpg) no-repeat;
    background-size: 100% auto;
    background-position:center;
    padding-bottom:32px;
}

.mainTitle {   
    padding-bottom:48px;
    padding-top:64px;
    font-size:4em;
    text-transform:uppercase;
    font-family: 'Source Sans Pro' !important;, source-sans-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:900;
    color:white;
}
.mainTitleIntro {
    text-transform:none;
    font-style:italic;
    font-family:"Times New Roman", Times, serif;
    font-size:.4em;
    letter-spacing:-0.03em;
    margin-bottom:-10px;
    font-weight:100;
}
.mainTryNowAndSignUp {   
    display:inline-block;
}
.mainTryNow {
    vertical-align:middle;
    display:inline-block;
    text-align:left;
    padding:8px;
    padding-left:16px;
    padding-right:16px;    
    margin-right:12px;
    color:black;
    width:320px;
    float:left;
    margin-top: 2px;
}
.mainSignUp {
    vertical-align:middle;
    display:inline-block;
    text-align:center;
    padding:8px;
    color:white;
    width:320px;
}

.tryNowInstructions {
    font-family:"Times New Roman", Times, serif;
    font-style:italic;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    margin-top: 6px;
}
.tryForm{
    background-color: #fff;
}
.tryForm input[type="text"]{
    font-size: 1.4em;
    padding: 4px 8px;
    border:none;
    width: 230px;
    outline: none;
}
.tryForm button{
    background: #333;
    color: #fff;
    border:none;
    text-transform: uppercase;
    padding:2px 4px;
    border:3px solid #333;
    cursor: pointer;
}

.tryForm button:hover{
    border-color:#777;
}
.tryDisclaimer {
    font-size:.6em;
}

.signUpFeatures {
    text-align:left;
    vertical-align:top;
    display:inline-block;
    font-size:.9em;
    line-height:1;
    white-space:nowrap;
}
.signUpFeatures p{
    text-align: center;
    margin-top: 5px;
}
.signUpFeatures p strong{
    font-size:1.3em;
}
.signUpFeatures button
{
    font-size:1.1em;
    padding:7px;
    display: block;
    margin:0 auto 0;
}

.signUpFeatures a
{
    color:white;
}

.mainTour {  
    display:inline-block;
    text-align:center;
    padding:8px;
    border:1px solid black;
    width:300px;
    color:white;
}

mainTourDemo {
    float:left;
    margin-right:-50px;
    padding:14px;
    border:solid black 1px;
}

.mainTourCases li {
    padding:14px;
    display:inline-block;
    border:solid black 1px;
    margin:2px;
}


.mainFeatures
{
    text-align:center;
}

.mainRolesList li,
.mainFeaturesList li {
    padding:14px;
    display:inline-block;
    margin-left:6px;
    margin-right:6px;
    background:white;
    text-align:center;
    min-width:80px;
    vertical-align:top;
}

li entypo
{
    font-size:5em;
    line-height:.5;
}
.mainDescription
{
    font-size:.8em;
    line-height:1.4;
    width:400px;
    margin-left:auto;
    margin-right:auto;
}

.mainRolesVisual,
.mainFeaturesVisual {
    height:180px;
    width:180px;
    padding:14px;
    border:solid black 1px;
    background:white;
}

li .description
{
    padding-top:14px;
    font-size:.8em;
    line-height:1.4;
    width:170px;
}

li .list
{
    text-align:left;
}

li .list ol
{
    margin:0;
    padding:0px;
    text-align:left;
    line-height:1;
}
li .list li
{
    display:block;
    margin:0;
    padding:4px;
    padding-left:18px;
    text-align:left;
}

.domain
{
    font-weight:600;
    line-height:1.45;
    font-size:1.4em;
    padding-bottom:-0px;
    margin-bottom:-0px;
}

summaryBox
{
    display:block;
    clear:both;
    margin:auto;
    max-width:800px;    
    min-height:64px;
    text-align:left;
    
    margin-top:16px;
    margin-bottom:16px;
    padding:8px;
    
    border:1px black;
    border-radius:8px;
    background:rgba(0,0,0,0.1);
    color:black;
}
quickWinsTitle,
quickCompareTitle
{
    display:block;
    text-align:left;
}
summaryBox li {
    display:inline-block;
    border:solid 1px black;
    padding-left:12px;
    padding-right:12px;
    font-size:0.8em;
    text-align:left;
    max-width:200px;
    margin:4px;
}

tip,
filename,
estimate
{
    display:block;
    margin:0px;
    padding:0px;
}

tip
{
    font-weight:900;
}
filename
{
    font-family:monospace;
}

estimate
{
    font-style:italic;
    font-family:"Times New Roman", Times, serif;
}
moreInfo, dismiss
{
    display:inline-block;
    width:90px;
}
dismiss
{
    text-align:right;
}

results{
    display:block;
    clear:both;
    margin:auto;
    max-width:800px;    
    min-height:64px;
    text-align:left;
}
totalScore
{
    display:block;
    text-align:right;
}
resultColumn {
    vertical-align:top;
    display:inline-block;
    margin:0px;
    padding:0px;
    width:154px;
    max-width:154px;    
    height:500px;
    text-align:left;
    
    overflow:scroll;
    
    border:1px black solid;
    background:rgba(0,0,0,0.1);
    color:black;
}
score
{
    display:block;
    width:150px;
    margin-top:-10px;
    font-size:0.6em;
    text-align:right;
}

errorCategory
{
    display:block;
    font-weight:900;
    margin-top:6px;
}
errorEntry
{
    display:block;
    font-size:0.8em;
    margin-left:4px;
}
errorPage
{
    display:inline-block;
    width:140px;
    font-family:monospace;
}
errorChange
{
    display:inline-block;
    width:140px;
    margin-left:-140px;
    text-align:right;
}