.pure-u-1
    ul.details
        li.details-site.pure-u-1
            a(href="javascript:;")
                h4
                    span.title Site Checks
                    .mini-details
                        ul
                            li
                                strong sitemap
                                em.found &#10003;                            
                            li
                                strong Custom 404
                                em.found &#10003;               
                            li
                                strong Indexed
                                em 32
                            li
                                strong Checked
                                em 32
                            li                            
                                strong Files
                                em 324
                            li
                        
                
            <div class="details-content pure-u-1">
                <div class="pure-u-1-3">
                    <h5>SEO</h5>
                    <ul>
                        <li>
                            <em class="check-result result-ok">&#10003;</em>
                            <big class="check-name">sitemap.xml</big>                                
                            <span class="check-description">Is an file where all your pages are listed for Google and Bing. <a href="" rel="url">View file</a></span>
                        </li>
                        <li>
                            <em class="check-result result-ok">&#10003;</em>
                            <big class="check-name">robots.txt</big>                                
                            <span class="check-description">Is a file that tells the search engines which pages search and exclude.  <a href="" rel="url">View file</a></span>
                        </li>
                        <li>
                            <em class="check-result result-ok">&#10003;</em>
                            <big class="check-name">Remove www subdomain</big>                                
                            <span class="check-description">The site has to be the same with and whitout www in front. </span>
                        </li>
                        <li>
                            <em class="check-result result-ok">&#10003;</em>
                            <big class="check-name">SEO friendly URL</big>                                
                            <span class="check-description">Urls has to be <strong>domain.com/hello-world/</strong> instead of <strong>domain.com?pid=12&name=hello</strong></span>
                        </li>
                    </ul>
                </div>
                <div class="pure-u-1-3">
                    <h5>Usability</h5>
                    <ul>
                        <li>
                            <em class="check-result result-ok">&#10003;</em>
                            <big class="check-name">Broken links</big>                                
                            <span class="check-description">0 Files, lorem ipsum dolor sit amet dandulas las nalgas emoticonas darusas ectama</span>
                        </li>
                        <li>
                            <em class="check-result result-ok">&#10003;</em>
                            <big class="check-name">HTML5 Compatibility</big>                                
                            <span class="check-description">lorem ipsum dolor sit amet dandulas las nalgas emoticonas darusas ectama</span>
                        </li>
                        <li>
                            <em class="check-result result-ok">&#10003;</em>
                            <big class="check-name">Custom 404 page</big>                                
                            <span class="check-description">lorem ipsum dolor sit amet dandulas las nalgas emoticonas darusas ectama</span>
                        </li>
                        <li>
                            <em class="check-result result-ok">&#10003;</em>
                            <big class="check-name">Favicon</big>                                
                            <span class="check-description">lorem ipsum dolor sit amet dandulas las nalgas emoticonas darusas ectama</span>
                        </li>
                    </ul>
                </div>
                
                <div class="pure-u-1-3">
                    <h5>Analytics and Optional</h5>
                    <ul>                        
                        <li>
                            <em class="check-result result-ok">&#10003;</em>
                            <big class="check-name">Google Analytics</big>                                
                            <span class="check-description"><strong>UA-AXBA1234</strong>,lorem ipsum dolor sit amet dandulas las nalgas emoticonas darusas ectama</span>
                        </li>                                                    
                        <li>
                            <em class="check-result result-ok">&#10003;</em>
                            <big class="check-name">IOs Icons</big>                                
                            <span class="check-description">lorem ipsum dolor sit amet dandulas las nalgas emoticonas darusas ectama</span>
                        </li>                            
                        <li>
                            <em class="check-result result-ok">&#10003;</em>
                            <big class="check-name">Windows 8 Integration</big>                                
                            <span class="check-description">lorem ipsum dolor sit amet dandulas las nalgas emoticonas darusas ectama</span>
                        </li>                            
                        <li>
                            <em class="check-result result-fail">&#10060;</em>
                            <big class="check-name">humans.txt</big>                                
                            <span class="check-description">lorem ipsum dolor sit amet dandulas las nalgas emoticonas darusas ectama</span>
                        </li>                            
                    </ul>    
                </div>
                <!--- -->
                <div class="pure-u-1-5 single-item">
                    <em class="legend">Total Pages Checked</em>
                    <big class="number">23</big>
                    <span class="extra">From 32 indexed</span>
                </div>
                <!-- -->
                <!--- -->
                <div class="pure-u-1-5 single-item">
                    <em class="legend">Total files</em>
                    <big class="number">356</big>
                    <span class="extra"></span>
                </div>
                <!-- -->
                <!--- -->
                <div class="pure-u-1-5 single-item errors-score">
                    <em class="legend">HTML Errors</em>
                    <big class="number">23</big>
                    <span class="extra"></span>
                </div>
                <!-- -->
                <!--- -->
                <div class="pure-u-1-5 single-item errors-score">
                    <em class="legend">CSS Errors</em>
                    <big class="number">23</big>
                    <span class="extra"></span>
                </div>
                <!-- -->
                <!--- -->
                <div class="pure-u-1-5 single-item errors-score">
                    <em class="legend">JS Errors</em>
                    <big class="number">23</big>
                    <span class="extra"></span>
                </div>
                <!-- -->
                <div class="pure-u-1">
                   <div id="chart-general">
                     <svg></svg>
                   </div>
                </div>

            </div>
        <!-- ------------------------------- -->

        <li class="details-validation pure-u-1">
            <a href="javascript:;">
                <h4>
                    <span class="title">Validation</span>
                    <div class="mini-details">
                        <ul>                            
                            <li>
                                <strong>HTML Errors</strong>
                                <em>29</em>
                            </li>
                            <li>
                                <strong>CSS Errors</strong>
                                <em>33</em>
                            </li>
                            <li>
                                <strong>JS Errors</strong>
                                <em>02</em>
                            </li>
                        </ul>      
                    </div>
                </h4>
            </a>
            <div class="details-content">

                <div class="pure-u-1-5 single-item errors-score">
                    <em class="legend">HTML Errors</em>
                    <big class="number">23</big>
                    <span class="extra"></span>
                </div>
                <!-- -->
                <!--- -->
                <div class="pure-u-1-5 single-item errors-score">
                    <em class="legend">CSS Errors</em>
                    <big class="number">23</big>
                    <span class="extra"></span>
                </div>
                <!-- -->
                <!--- -->
                <div class="pure-u-1-5 single-item errors-score">
                    <em class="legend">JS Errors</em>
                    <big class="number">23</big>
                    <span class="extra"></span>
                </div>

        <!--- -->
                
                
                <div class="pure-u-1">
                   <div id="chart-validation">
                     <svg></svg>
                   </div>
                </div>

            </div>
        </li>
        <li class="details-performance pure-u-1">
            <a href="javascript:;">
                <h4>
                    <span class="title">Performance</span>
                    <div class="mini-details">
                        <ul>                            
                            <li>
                                <strong>Avg Google Pagespeed</strong>
                                <em>83.3</em>
                            </li>
                            <li>
                                <strong>Yahoo YSlow</strong>
                                <em>83.3</em>
                            </li>                                
                        </ul>      
                    </div>
                </h4>
            </a>
            <div class="details-content">

                <div class="pure-u-1-5 single-item max-score">
                    <em class="legend">Max GP Score</em>
                    <big class="number">89</big>                        
                </div>
                <!-- -->
                <!--- -->
                <div class="pure-u-1-5 single-item max-score">
                    <em class="legend">Max YSlow Score</em>
                    <big class="number">86</big>
                    <span class="extra"></span>
                </div>
                <!-- -->
                <!--- -->
                <div class="pure-u-1-5 single-item min-score">
                    <em class="legend">Min GP Score</em>
                    <big class="number">23</big>
                    <span class="extra"></span>
                </div>
                <!-- -->
                <!--- -->
                <div class="pure-u-1-5 single-item min-score">
                    <em class="legend">Min YSlow Score</em>
                    <big class="number">12</big>
                    <span class="extra"></span>
                </div>
                <!-- -->



                <div class="pure-u-1">
                   <div id="chart-performance">
                     <svg></svg>
                   </div>
                </div>
            </div>
        </li>


